header {
    height: 100vh;
    background-color: $lightColor;
    nav {
        background-color: rgb(236, 235, 249); 
        ul {
            height: 60px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-family: $bodyFont;
            text-transform: uppercase;
            margin-right: 50px;
        }
        li {
            padding: 10px;
            margin: 0px 20px;
        }
        li:hover{
            text-decoration: underline;
        }
    }

    .headerInfo {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 10%;
    }

    h1  {
        margin-top: 15%;
    }

    h2 span {
        color: $darkColor;
        text-decoration: underline;
    }

    img {
        margin: 0px 100px;
    }


    .arrow {
        font-size: 50px;
        margin-top: 200px;
        display: block;
        text-align: center;
        color: $darkColor;
    }
    
    .fa-angle-double-down {
        transform: translateX(-50%);
        animation: bounce 2s ease-in-out infinite;
    }
}

