.portfolio {
    div {
        margin: 100px 0px;
        padding: 20px;
    }
    .colorBackground {
        background-color: $lightColor;
    }

    .colorBorder {
        border: 5px solid $lightColor;
    }
}