.skills {
    height: 80vh;
    h3 {
        padding-top: 60px;
    }
    i {
        font-size: 50px;
    }
    img {
        height: 50px;
        width: 50px;
    }
    ul {
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        text-align: center;
        height: 20vh;
    }
}